{% extends 'base.html' %}

{% block title %}
Assignment 9
{% endblock %}

{% block body %}
{{ super() }}

<h1> Search </h1>
  <form action="/assignment9" method="GET">
     Email: <input name="email" type="email">
     <input type="submit" value="Search">
  </form>

{% if email == "" %}
    <h3> List of users: </h3>
    <ol>
        {% for key, value in users.items() %}
        <li>  name: </h4> {{ value['name'] }}  Email: </h4>{{ value['email'] }} </li>
        {% endfor %}
    </ol>
{% elif email %}
    <h3> requested user: </h3>
    {% if email in users %}
    name: </h4> {{ users[email]['name'] }}  Email: </h4> {{ users[email]['email'] }}
    {% else %}
    <h4> User not found </h4>
    {% endif %}
{% endif %}

{% if not session.user %}
<h1> Registration </h1>
  <form action="/assignment9" method="POST">
      Full name: <input name="name" type="text">
      Email: <input name="email" type="email">
     <input type="submit" value="Register">
  </form>
{% endif %}


{% if session.user %}
<br><input type="submit" value="Log out" onclick="location.href= '/Logout.html'">
{% endif %}
{% endblock %}