<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jonathan Grossman CV</title>
         <a href="/" > CV </a> | <a href="/assignment8" > Assignment 8 </a> | <a href="/assignment9" > Assignment 9 </a>| <a href="/Logout" > Logout </a> | <a href="/assignment10" > Assignment 10 </a>| <br>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='CV.css') }}">
    <script src="{{ url_for('static',filename='CV.js') }}"></script>
    <title>Document</title>
</head>

<body onload="YoniFunction()">

    <div id="container">
        <div class="grid-container" >
          <div class="Name">
            <h1 id="My_Name">Jonathan Grossman</h1>

          </div>
          <div class="Skills">
            <h2>Skills</h2>
              <ul>
              <li>Java</li>
              <li>Microsoft Excel</li>
              <li>SQL</li>
              <li>Salesforce Tools</li>
              <div id="RotatingPhoto"> <img src="{{url_for('static',filename='Salesforce._logo.png')}}" alt="Profile Photo" width="40px" height="100px"> </div>
              <h2>Relevant links</h2>
              <li><a href="https://www.linkedin.com/in/jonathan-grossman-a581a31b6/" ><p id="linkedin">linkedin</p></a></li>
              <li><a href="mailto:yonigrossman5135@gmail.com" target="_blank"><p id="Email">yonigrossman5135@gmail.com</p></a></li>
            </ul>

          </div>

          <div class="Body">
            <div class="Education">
              <h2>Education</h2>
              <h3 id="mySchool">Ben-Gurion University</h3>
              <ul>
                <li>Information system management</li>
                <li>Good grade point average</li>
              </ul>
            </div>
            <div class="Work">
              <h2>Work History</h2>
              <h3>IDF</h3>
              <ul>
                <li>First Sergeant</li>
                <li>Served a three year service as a fighter in the paratroopers brigade of the IDF</li>
                <li>Completed the army medic course</li>
                <li>Work well in high pressure situations</li>
                <li>Ability to work well with a team, and to solve complex problems</li>
              </ul>
              <h3 id="Salesforce">Salesforce Admin</h3>
              <ul>
                <li>Maintain data quality by identifying and deleting or merging duplicate records, cleansing and updating inaccurate data
                </li>
                <li>Self-directed learning, problem solving, and researching of system issues
                </li>
                <li>Create profiles and permissions documentation, governance framework, data mapping, and reporting and dashboard building
                </li>
                <li>Create and maintain system documentation for fields, processes and workflows
                </li>
                <li>Performs routine Salesforce data management/cleanup tasks
                </li>
                <h4>To contact me in another way please click </h4> <a href="CV2.html">Here</a>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    
</body>
</html>